html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
  background-color: black;
}

body {
  scroll-behavior: smooth;
  margin: 0px;
  width: 100%;
  background-color: black;
}


body::-webkit-scrollbar {
  display: none;
}

#root{
  width: 100%;
}

.loadingscreen {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: "Archivo Black";
  font-size: 50px;
  color: white;
}
.header {
  width: 100%;
  display: flex;
  z-index: 999;
  position: fixed;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  z-index: 999;
}

.logo {
  margin-left: 30px;
  font-family: "Archivo Black";
  color: white;
  cursor: pointer;
}

.middleheader {
  display: flex;
  justify-content: center;
  gap: 20px;
  width:300px;
  align-items: center;
}

.middle-header-links{
  text-decoration: none;
  color: white;
  font-family: "Archivo Black";
  font-size: 12px;
  cursor: pointer;

}

.middle-header-links:hover{
  text-decoration: none;
  font-family: "Archivo Black";
  font-size: 12px;
  cursor: pointer;
  animation: navlinkHover 0.2s linear;
  animation-fill-mode: forwards;
}

.navlinks-container{
  display: flex;
  align-items: center;
}

.menu-icon-wrapper {
  display: flex;
  flex-direction: column;
  width: 40px;
  margin-right: 20px;
  cursor: pointer;
  padding-left: 8px;
  padding-top: 10px;
  padding-right: 8px;
}

.menu-icon-line {
  border-top: 1.5px solid rgb(176, 176, 176);
  height: 10px;
  color: transparent;
}
.menuicon {
  width: 30px;
  cursor: pointer;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
} 

.home-card1 {
  display: flex;
  height: 100vh;
  width: 100%;
  position: sticky;
  top: 0px;
}

.homevideocontainer {
  position: absolute;
  width: 100%;
  height:100vh;
  object-fit: cover;
  top: 0px;
  z-index: 0;
}

.homevideotextcontainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 99;
  align-items: center;
  width: 100%;
}
.homevideotext{
  display: flex;
  z-index: 2;
  justify-content: center;
  color: transparent  ;
  font-family: "Archivo Black";
  font-size: 6vw;
  background-image: url('hometextbackground.webp');
  background-size: 700px;
  background-clip: text;
  width: 100%;
  margin-bottom: 0px;
}

/*INFINITE SCROLL HOME PAGE */

.home1-infinite-scroll-wrapper{
  display: flex;
  width: 50vw;
  height: 5vh;
}
.home1-infinite-scroll {
  display: flex;
  align-items: start;
  overflow: hidden;
  -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 5%,
      white 95%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 5%, white 95%, transparent);
}
.home1-infinite-scroll-content {
  display: flex;
  flex-wrap: nowrap;
  animation: slider2 18s linear infinite;
}
.home1-infinite-scroll-text {
  display: flex;
  width: fit-content;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  color: white;
  font-family: "Archivo Black";
  font-size: 8px;
  margin: 0 35px;
}

.homevideotextsmall {
  display: flex;
  z-index: 2;
  color: white;
  font-family: "Archivo Black";
  justify-content: end;
  font-size: 1vw;
}

.question-mark-animation {
  position: absolute;
  color: white;
  font-family: "Archivo Black";
  font-size: 60px;
  left: 100px;
  color: transparent;
  background-image: url('textbackground2.webp');
  background-size: 200px;
  background-clip: text;
}

.question-mark-animation2 {
  position: absolute;
  color: white;
  font-family: "Archivo Black";
  font-size: 80px;
  left: 300px;
  top: 40px;
}
.question-mark-animation3 {
  position: absolute;
  color: transparent;
  font-family: "Archivo Black";
  font-size: 150px;
  left: 600px;
  top: 300px;
  background-image: url('textbackground2.webp');
  background-size: 200px;
  background-clip: text;
  rotate: -10deg;
}
.question-mark-animation4 {
  position: absolute;
  color: white;
  font-family: "Archivo Black";
  font-size: 60px;
  left: 950px;
  top: 100px;
  rotate: -15deg;
}
.question-mark-animation5 {
  position: absolute;
  color: transparent;
  font-family: "Archivo Black";
  font-size: 200px;
  left: 1100px;
  background-image: url('textbackground2.webp');
  background-size: 100px;
  background-clip: text;
  rotate: 20deg;
}
.question-mark-animation6 {
  position: absolute;
  color: transparent;
  font-family: "Archivo Black";
  font-size: 80px;
  left: 500px;
  top: 80px;
  background-image: url('textbackground2.webp');
  background-size: 100px;
  background-clip: text;
  rotate: 10deg;
}

.home-card2 {
  height: 400vh;
  width: 100%;
  top: 0px;
  background-color: black;
}

.horizontal-section {
  position: sticky;
  overflow: hidden;
  top: 0px;
  height: 100vh;
  width: 100%;
  background-color: black;
}

.horizontal-scroll {
  position: absolute;
  display: flex;
  width: 300vw;
  will-change: transform;
  animation-duration: 2s;
}

.horizontal-scroll-card{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100vw;
}

.horizontal-scroll-card-slide1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.horizontal-scroll-card-slide2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.horizontal-scroll-card-slide3 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.homecard2textcontainer {
  display: flex;
  width: 100vw;
  height: max-content;
  justify-content: center;
  align-items: center;
}
.homecard2text {
  margin: 0px;
  max-width: 100%;
  justify-content: center;
  color: white;
  font-family: "Archivo Black";
  font-size: 65px;
  padding-top: 30px;
  background-image: url('textbackground2.webp');
  background-size: 200px;
  background-clip: text;
}

.about-me-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  gap: 5%;
}
.card2-slide2-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.card2-slide2-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.about-me-p {
  color: white;
  font-family: "Montserrat";
  width: 300px;
}
.horizontalgallerywrapper {
  display: flex;
  padding:30px;
  transform: translateX(-100px);
}

.homehorizontalgallery {
  width: 400px;
  height: max-content;
  object-fit: contain;
  border-radius: 10px;

}
.slide2-img-caption {
  display: flex;
  justify-content: center;
  color: white;
  font-family: 'Montserrat';
  font-size: 11px;
}


.home-card3 {
  overflow: hidden;
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0px;
  background-color: rgb(0, 0, 0);
}

.card3-text-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.home-card3-text {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Archivo Black";
  color: white;
  font-size: 70px;
}

.sniper_scope_img {
  width: 100px;
  object-fit: contain;
  position: absolute;
  left: 290px;
  top: 190px;
}
.learn-more-btn-container {
  display: flex;
  justify-content: center;
  width: 500px;
}

.learn-more-btn {
  opacity: 0.8;
  background-color: transparent;
  border: 1px solid white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  color: white;
  font-family: 'Montserrat';
  cursor: pointer;
}

.learn-more-btn:hover {
  background-color: transparent;
  border: 1.35px solid white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  color: white;
  font-family: 'Montserrat';
  z-index: 9999;
  animation: hover 0.3s linear forwards;
}

.infinite-scroll-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 100%;
  overflow: hidden;
  align-items: center;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 10%,
    white 90%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}

.infinite-scroller-contents-container {
  display: flex;
}
.infinite-scroller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
  align-items: center;
  height: max-content;
  flex-wrap: nowrap;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.infinite-scroller-contents {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  flex-wrap: nowrap;
  animation: slider 14s infinite linear;

}

.infinite-scroller-img {
  width: 50px;
  margin: 0 15px;
  object-fit: contain;
  cursor: pointer;
}

.infinite-scroller-img-html {
  width: 50px;
  margin: 0 15px;
  transform: translateY(-15px);
  object-fit: contain;
  cursor: pointer;
}

.infinite-scroller-img-css {
  width: 50px;
  margin: 0 15px;
  transform: translateY(-15px);
  object-fit: contain;
  cursor: pointer;
}

.infinite-scroller-img-python {
  width: 40px;
  margin: 0 15px;
  transform: translateY(6px);
  object-fit: contain;
  cursor: pointer;
}

.infinite-scroller-img-node {
  width: 80px;
  object-fit: contain;
  margin: 0 15px;
  cursor: pointer;
}

.infinite-scroller-img-mongo {
  width: 175px;
  object-fit: contain;
  margin: 0 15px;
  cursor: pointer;
}


.infinite-scroller-expresslogo {
  color: white;
  font-family: "Montserrat";
  font-weight: 100;
  font-size: 35px;
  transform: translateY(3px);
  margin: 0 15px;
  cursor: pointer;
}

.infinite-scroller-img-git {
  width: 115px;
  object-fit: contain;
  margin: 0 15px;
  cursor: pointer;
}




.infinite-scroller-img:hover {
  width: 50px;
  animation: hoverAnimation 0.07s linear;
  animation-fill-mode: forwards;
}

.infinite-scroller-img-node:hover {
  width: 80px;
  animation: hoverAnimation 0.07s linear;
  animation-fill-mode: forwards;
}

.infinite-scroller-img-mongo:hover {
  width: 175px;
  animation: hoverAnimation 0.07s linear;
  animation-fill-mode: forwards;
}


.infinite-scroller-expresslogo:hover {
  color: white;
  font-family: "Montserrat";
  font-weight: 100;
  font-size: 35px;
  animation: hoverAnimation 0.07s linear;
  animation-fill-mode: forwards;
}



.home-card4 {
  height: 500vh;
  width: 100%;
  top: 0px;
  background-color: black;
}

.card4-scroller-wrapper{
  position: sticky;
  top: 0px;
  height: 100vh;
  width: 100%;
  background-color: black;
  overflow: hidden;
}

.card4-scroller {
  position: absolute;
  display: flex;
  width: 300vw;
  will-change: transform;
  animation-duration: 2s;
}

.card4-slide1 {
  width: 100vw;
}
.card4-text-container{
  display: flex;
  padding-top: 30px;
}
.card4-text2-wrapper{
  display: flex;
  width: 100%;
  justify-content: start;
}
.card4-text2 {
  color: white;
  font-family: "Archivo Black";
  font-size: 60px;
  margin-left: 120px;
  margin-top: 0px;
  margin-bottom: 0px
}

.card4-text {
  display: flex;
  font-family: "Archivo Black";
  font-size: 80px;
  padding-left: 20px;
  z-index: 2;
  color: white;
}
.card4-text-animated-container {
  opacity: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}
.card4-text-animated-container2 {
  opacity: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}
.card4-text-animated-container3 {
  opacity: 0;  display: flex;
  width: 100%;
  justify-content: center;
}
.card4-text-animated {
  display: flex;
  font-family: "Montserrat";
  font-size: 12px;
  width: 500px;
  z-index: 2;
  color: white;
}
.card4-text-animated2 {
  display: flex;
  font-family: "Montserrat";
  font-size: 12px;
  width: 500px;
  z-index: 2;
  color: white;
}
.card4-text-animated3 {
  display: flex;
  font-family: "Montserrat";
  font-size: 12px;
  width: 500px;
  z-index: 2;
  color: white;
}

.neurons-img {
  width: 400px;
  position: absolute;
  left: 20px;
  z-index: 0;
  height: max-content;
  object-fit: contain;
  border-radius: 200px;
}

.card4-text-container2 {
  display: flex;
  flex-direction: column;
  scale: 1;

}

.card4-text-container3 {
  position: absolute;
  left: 680px;
  top: 330px;
}

/* Infinite scroller card 4*/

.card4-infinite-scroll-wrapper{
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
  justify-content: center;
}
.card4-infinite-scroller{
  display: flex;
  align-items: center;
  overflow: hidden;
  -webkit-mask: linear-gradient(
      90deg,
      transparent,
      white 10%,
      white 90%,
      transparent
    );
    mask: linear-gradient(90deg, transparent, white 10%, white 90%, transparent);
}

.infinite-scroll-top {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  height: max-content;
}

.infinite-scroll-bottom {

}

.infinite-scroll-cluster-wrapper {
  display: flex;
  height: max-content;
  position: relative;
  width: max-content;
  animation: slider2 20s linear infinite;
}
.infinite-scroll-cluster {
  margin: 0 40px;
}
.infinite-scroll-textimg-wrapper {
  display: flex;
  position: relative;
  z-index: 3;
}
.infinite-scroll-text{
  color: white;
  font-family: 'Archivo Black';
  transform: translateY(100px);
}
.infinite-scroll-text-small{
  color: white;
  font-size: 20px;
  font-family: 'Archivo Black';
  transform: translateY(100px);
}

.infinite-scroll-text-small2{
  color: white;
  font-size: 20px;
  font-family: 'Archivo Black';
  transform: translateY(180px);
}
.infinite-scroll-text-big{
  color: white;
  font-size: 40px;
  font-family: 'Archivo Black';
  transform: translateY(50px);
}

.infinite-scroll-img {
  width: 200px;
  position: relative;
  height: max-content;
  object-fit: contain;
  border-radius: 10px;
  z-index: -1;
  transform: translateX(40px);
}


/*Projects CSS*/

.home-card5 {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-color: black;
  justify-content: start;
}

.car5-text-container {
  display: flex;
  justify-content: end;
  width: 100%;
  z-index: 100;
}
.card5-text {
  position: relative;
  justify-content: end;   
  display: flex;
  color: white;
  font-family: "Archivo Black";
  font-size: 60px;
  width: 100%;
  z-index: 100;
  transform: translateX(-100px);
  margin: 0px;
}

.projects-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  gap: 20px;
  overflow: hidden;
}
.project-container {
  display: flex;
  align-items: center;
}
.project {
  background-color: white;
  height: fit-content;
  border-radius: 10px;
}
.project-text {
  color: black;
  font-family: "Montserrat";
  font-weight: 500;
  padding: 100px 60px;
}


/* FOOTER css*/
.footer-wrapper{
  display: flex;
  width: 100%;
  height: 200px;
  justify-content: space-around;
  background-color: rgb(0, 0, 0);
  z-index: 2;
  position: relative;
}

.left-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-me-text{
  color: white;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 200;
  margin: 0px;
  transform: translateY(6px);
}

.right-footer {
  display: flex;
}

.contact-link-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 6vw;
}

.contact-link-icons {
  width: 25px;
  height: max-content;
  object-fit: contain;
  cursor: pointer;
  padding: 10px   ;
}

.contact-link-icons-email {
  width: 55px;
  height: max-content;
  object-fit: contain;
  cursor: pointer;
}

.linkedin-logo-container {
  background-color: white;
  height: 30px;
  width: 31px;
  border-radius: 5px;
  cursor: pointer;
}
.linkedin-logo {
  display: flex;
  font-size: 30px;
  font-family: "Source Sans 3";
  color: rgb(12, 12, 12);
  height: 30px;
  margin: 0px;
  transform: translateY(-5px);
  margin-left: 3px;
  cursor: pointer;
}

.contact-link-icons-github {
  width: 65px;
  height: max-content;
  object-fit: contain;
  cursor: pointer;
}


/* CUSTOM SCROLL TRACKER CSS */
.custom-scroller-wrapper {
  display: flex;
}
.scroll-tracker-line-wrapper{
  display: flex;
  width: 200px;
  border-radius: 10px;
}
.scroll-tracker-line{
  background-color: white;
  width: 200px;
  border-radius: 10px;
  overflow-x: hidden;
  transform: translateY(50px);
}

.scroll-tracker-filler {
  color: transparent;
  width: 200px;
  font-size: 2px;
  background-color: gray;
  border-radius: 10px;
  margin: 0px;
}

.custom-scroller-wrapper2 {
  display: flex;
  position: absolute;
  top: 380px;
}
.scroll-tracker-line-wrapper2{
  display: flex;
  width: 200px;
  border-radius: 10px;
}
.scroll-tracker-line2{
  background-color: white;
  width: 200px;
  border-radius: 10px;
  overflow-x: hidden;
}

.scroll-tracker-filler2 {
  color: transparent;
  width: 200px;
  font-size: 2px;
  background-color: gray;
  border-radius: 10px;
  margin: 0px;
}

/* ANIMATIONS*/

@keyframes hoverAnimation {
  from {
      scale: 1;
  }
  to {
      scale: 1.05;
      transform: translateY(-2px);
  }
}

@keyframes slider {
  from{
      transform: translateX(0%);
  }
  to {
      transform: translateX(-100%);
  }
  
}

@keyframes slider2 {

  to {
      transform: translateX(-50%);
  }
  
}

@keyframes navlinkHover {
  from{
      color: white;
  }
  to {
      scale: 1.02;
      transform: translateY(-1.2px);
  }
}
@keyframes hover {
  from{
      color: white;
      opacity: 0.8;
  }
  to {
      color: white;
      opacity: 1;
      scale: 1.02;
  }
}

@keyframes scaleDown {
  0%{
      scale: 1;
      opacity: 1;
  }
  25%{
      rotate: 8deg;
      scale: 1.1;
      opacity: 1;
  }
  50%{
      rotate: -8deg;
      scale: 0.8;
      opacity: 1;
  }
  60%{
      rotate: 5deg;
  }
  75%{
      scale: 0.5;
      opacity: 0.5;
  }
  100%{
      scale: 0;
      opacity: 0.1;
  }
  
}

@keyframes scaleUp {
  from{
      scale: 0;
  }
  to{
      scale: 1;
  }
}

@keyframes scaleDownSlightly {
  from {
      scale: 1;
  }
  to {
      scale: 0.8;
  }
}

@keyframes fadeAndScaleIn {
  from {
      opacity: 0;
      scale: 0.6;
  }
  to {
      opacity: 1;
      scale: 1;
  }
}

@keyframes fadeAndScaleOut {
  from {
      opacity: 1;
      scale: 1;
  }
  to {
      opacity: 0.8;
      scale: 0.8;
  }
}

/*
@keyframes flyIn {
  0%{
      scale: 0;
  }
  5%{
      scale: 0.001;
      transform: translateX(20px);
  }
  10% {
      transform: translateY(-10px);
      transform: translateX(40px);
  }
  15%{
      transform: translateX(100px);
      transform: translateY(-15px);
  }

  50%{
      transform: translateX(500px);
  }
  60%{
      transform: translateX(450px);
  }
  100%{
      scale: 1;
      transform: translateY(200px)
  }
}
*/


/* Card 2 scrolling animations*/

@keyframes slide-100 {
  from {
      transform: translateX(0vw);
  }
  to{
      transform: translateX(-100vw);
  }
}


@keyframes slide-100From3 {
  from {
      transform: translateX(-200vw);
  }
  to{
      transform: translateX(-100vw);
  }
}

@keyframes slide-200 {
  from{
      transform: translateX(-100vw);
  }
  to{
      transform: translateX(-200vw);
  }
}

@keyframes slide-0 {
  from {
      transform: translateX(-100vw);
  }
  to{
      transform: translateX(0vw);
  }
}

@keyframes dim {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
  
}




/* MEDIA QUERIES */

@media (max-width: 790px) {

  .middle-header-links{
    display: none;
  }
  .horizontal-section{
    display: flex;
  }
  .horizontal-scroll{
    display: flex;
  }
  .about-me-container {
    display: flex;
    flex-direction: column;
  }
  .card2-slide2-p-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .about-me-p {
    display: flex;
    justify-content: center;
    width: 330px;
  }
  .card2-slide2-img-container {
    display: flex;
    justify-content: center;
  }


  .custom-scroller2-notmobile-wrapper {
    display: flex;
    justify-content: center;
    transform: translateY(350px);
  }
  .custom-scroller2-mobile-wrapper {

  }
  /**/

  .card4-text-animated-container{
  }
  .home-card3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card3-text-container {
    width: 100%;
    padding-bottom: 20px;
  }
  .infinite-scroll-wrapper {
    width: 100%;
    height: max-content;
  }
  .infinite-scroller {
    width: 80vw;
    overflow: hidden;
  }

  /* Card 4 Mobile*/

  .home-card4 {
    height: 200vh;
    display: flex;
    flex-direction: column;
  }

  .card4-slide1 {
    height: 100vh;
  }
  .card4-scroller-wrapper {
    display: flex;
    position: relative;
    height: 100%;
  }

  .card4-scroller {
    display: flex;
    flex-direction: column;
  }
  .card4-text-container {
    justify-content: center;
  }
  
  .card4-text {
    padding: 0px;
  }

  .card4-text-animated-container {
    opacity: 1;
  }

  .card4-text-animated-container2 {
    opacity: 1;
  }
  .card4-text-animated-container3 {
    opacity: 1;
  }

  .card4-text2-wrapper{
    display: flex;
    justify-content: center;
  }

  .card4-text2{
    margin: 0px;
  }

  .card5-text-container {
    display: flex;
    justify-content: center;
  }

  .card5-text {
    margin: px;
    transform: translateX(0px);
    justify-content: center;
  }
}


@media (max-width: 635px) {

  .footer-wrapper {
    display: flex;
    flex-direction: column;
  }

  .right-footer {
    display: flex;
    justify-content: center;
  }
  
}